#app {
  
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top:20px;
  }
  
  #app .container {
    width: 376px;
    height: 930px;
    z-index: 100;
  
    background: #fdfdfc;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);



    height: calc(100vh - 60px);
    overflow: hidden;
  }
  
  #app .container-view {
    padding: 20px;
  }

  .call-wrapper{
    height: 87%;
    overflow-y: auto;
  
  }